/* .main .circled_leaflet_map .mapid{
  width: 800px;
  height: 800px;
  border-radius: 50%;
  position: relative;
  z-index: 500;
  border-style: solid;
  border-width: 2px;
  border-color: red;
  background-color: rgba(0, 0, 0, 0);
  margin: auto;
  margin-top: 30px;
  margin-bottom: 40px;
} */

/* .main .circled_leaflet_map .mapid{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
} */

.main .more_info{
  height: 100%;
  padding: 0;
  margin: 0;
}

.progress_bar{
  height: 35px;
  width: 250px;
  border: 2px solid darkblue;
}

.progress_bar_fill{
  height: 100%;
  width: 0%;
  background: lightblue;
  display: flex;
  align-items: center;
  transition: width 0.25s;
}

.progress_bar_text{
  margin-left: 10px;
  font-weight: bold;
}

/* ================================================ */

.main {
  background-position: center;
  background-image: url(../images/earth-map-dark-texture-background-104605.jpg);
}

.map_table {
  width: 100%;
  border: 1px solid black;
  table-layout: fixed;
  color: white;
  font-size: 200%;
}

tr {
  height: 50%;
}

td {
  border: 1px solid black;
}

#top_left {
}

#bot_left {
  vertical-align: middle;
  text-align: center;
}

#top_right {
  vertical-align: middle;
  text-align: center;
}

#bot_right {
  vertical-align: middle;
  text-align: center;
}

#center {
  width: 40%;
}

#mapid {
  width: auto;
  padding-top: 100%;
  border-radius: 100%;
  position: relative;
  z-index: 500;
  margin: auto;
}

#form_div {
  margin: 0 auto;
  width: 80%;
}

#file {
  width: 100%;
  font-size: 60%;
}

#submit {
  width: 50%;
  margin-top: 10%;
  font-size: 60%;
}
